html, body {
    overflow-y: scroll;
}
#tabContainer {
    padding: 20px;
}

.tab-content {
    padding-top: 20px;
}

/*.form-control { 
    width: 100px;
    display: inline-block;
}
input[type="text"].form-control {
    width: 100px;

}
*/

h4, .h4 {
    font-size: 18px;
}

th, td {
    text-align: center;
}

.form-group.padt {
    padding-top: 5px;
}

.form-group input[type="text"] {
    width: 85px;
    text-align: center;
}

/*#search section { 
    margin-bottom: 20px;
}*/

form section:last-child {
    margin-top: 5px;
}

.form-group.mb { margin: 0; }
.form-group.mb input[type="text"] {
    margin-left: 5px;
    margin-bottom: 10px;
}

.lbl, .lblb {
    display: inline-block;
    text-align: right;
}

#search .lbl {
    width: 150px;
}

#search .lblb {
    width: 203px;
}

#import .lbl {
    width: 100px;
}

#import .lblb {
    width: 325px;
}

#formUpload .lblb {
    width: 310px;
}

a.sh {
    cursor: pointer;
    color: #337ab7;
    text-decoration: none;
}

a.sh:hover {
    color: #337ab7;
    text-decoration: underline;
}

#search .table  {
    width: 60%;
}

#inventory .table, #import .table{
    width: 75%;
}

#searchResults table>thead>tr:nth-child(1)>th:not(:last-child) {
    border-right: 2px solid #ddd;
} 

#searchResults table>thead>tr:nth-child(1)>th:not(:first-child):not(:last-child) {
    border-top: 2px solid #ddd;
} 

#searchResults table>thead>tr:nth-child(2)>th:nth-child(1), 
#searchResults table>thead>tr:nth-child(2)>th:nth-child(6),  
#searchResults table>thead>tr:nth-child(2)>th:nth-child(11), 
#searchResults table>thead>tr:nth-child(2)>th:last-child {
    border-right: 2px solid #ddd;
}

table>tbody>tr>td {
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

#searchResults.active, #previousSearches.active,
#inventoryTaken.active, #inventoryAvailable.active { display: block; }
#searchResults, #previousSearches,
#inventoryTaken.active, #inventoryAvailable.active { display: none; }

#previousSearches table>thead>tr:nth-child(1)>th:not(:first-child) {
    border-top: 2px solid #ddd;
}

#previousSearches table>thead>tr:nth-child(1)>th,
#previousSearches table>thead>tr:nth-child(2)>th:nth-child(1),
#previousSearches table>thead>tr:nth-child(2)>th:nth-child(5),
#previousSearches table>thead>tr:nth-child(2)>th:nth-child(9) {
    border-right: 2px solid #ddd;
}

#previousSearches table>tbody>tr>td:nth-child(1),
#previousSearches table>tbody>tr>td:nth-child(5),
#previousSearches table>tbody>tr>td:nth-child(9),
#previousSearches table>tbody>tr>td:last-child {
    border-right: 2px solid #ddd;
}

table>thead>tr>th.bl,
table>tbody>tr>td.bl {
    border-left: 2px solid #ddd;
}

#searchResults table, #previousSearches table {
    border-bottom: 2px solid #ddd;
}

/* inventory added header */
#inventoryAdded table>thead>tr:nth-child(1)>th:not(:first-child),
#inventoryTaken table>thead>tr:nth-child(1)>th:not(:first-child),
#inventoryAvailable table>thead>tr:nth-child(1)>th:not(:first-child) {
    border-top: 2px solid #ddd;
}

#inventoryAdded table>thead>tr:nth-child(1)>th,
#inventoryAdded table>thead>tr:nth-child(2)>th:nth-child(1),
#inventoryAdded table>thead>tr:nth-child(2)>th:nth-child(7),
#inventoryAdded table>thead>tr:nth-child(2)>th:nth-child(13) {
    border-right: 2px solid #ddd;
}

#inventoryTaken table>thead>tr:nth-child(1)>th,
#inventoryTaken table>thead>tr:nth-child(2)>th:nth-child(1),
#inventoryTaken table>thead>tr:nth-child(2)>th:nth-child(2),
#inventoryTaken table>thead>tr:nth-child(2)>th:nth-child(7),
#inventoryTaken table>thead>tr:nth-child(2)>th:nth-child(12),
#inventoryAvailable table>thead>tr:nth-child(1)>th,
#inventoryAvailable table>thead>tr:nth-child(2)>th:nth-child(1),
#inventoryAvailable table>thead>tr:nth-child(2)>th:nth-child(2),
#inventoryAvailable table>thead>tr:nth-child(2)>th:nth-child(7),
#inventoryAvailable table>thead>tr:nth-child(2)>th:nth-child(12) {
    border-right: 2px solid #ddd;
}

.taken, .hide {
    /*background: #f9f2f4;*/
    display: none;
}

.tt {
    border-bottom: 1px dotted black;
    cursor: help;
}

.match {
    background: #dff0d8;
}

.reset-warning {
    font-weight: bold; 
    color: #DC143C;
}

