<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <title>GlassesInventoryAng</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/styles.css">
</head>

<body data-ng-controller="glassesController as tab">
    <div id="tabContainer">
    <ul class="nav nav-tabs">
        <li id="tabSearch" role="presentation" ng-class="{active:tab.isSet(1)}"><a ng-click="tab.setTab(1)">{{ 'GLASSES' | translate }} {{ 'SEARCH' | translate}}</a></li>
        <li id="tabInventory" role="presentation" ng-class="{active:tab.isSet(2)}"><a ng-click="tab.setTab(2)">{{ 'INVENTORY' | translate }}</a></li>
        <li id="tabImport" role="presentation" ng-class="{active:tab.isSet(3)}"><a ng-click="tab.setTab(3)">{{ 'IMPORT' | translate }}</a></li>
        <li id="tabExport" role="presentation" ng-class="{active:tab.isSet(4)}"><a ng-click="tab.setTab(4)">{{ 'EXPORT' | translate }}<!-- /{{ 'SYNC' | translate }} --></a></li>
        <!-- <li id="tabSettings" role="presentation" ng-class="{active:tab.isSet(5)}"><a ng-click="tab.setTab(5)">{{ 'SETTINGS' | translate }}</a></li> -->
    </ul>

<div id="search" class="tab-content" ng-show="tab.isSet(1)" ng-controller="searchCtrl">

    <form name="searchForm" novalidate>
    <h3 style="margin-top: 0;">Search Glasses</h3>
    <section>
        <div class="form-group form-inline">
            <span class="h4">1. Dominant Eye<span>
            <select id="dominantEye" class="form-control" style="margin-left: 17px" ng-model="search.dominantEye" ng-init="search.dominantEye = 'Right'">
              <option value="Right">Right</option>
              <option value="Left">Left</option>
              <option value="None">None</option>
            </select>
        </div>
    </section>

    <section>
    <h4>2. Patient's Refraction</h4>
        <div class="form-group form-inline mb padt">
            <span class="lbl">Right Eye:</span>
            <input type="text" class="form-control" id="searchRightSphere" placeholder="Sphere" ng-model="search.rightSphere" ng-change="calculateRightEquiv(search)">
            <input type="text" class="form-control" id="searchRightCylinder" placeholder="Cylinder" ng-model="search.rightCylinder" ng-change="calculateRightEquiv(search)">
            <input type="text" class="form-control" id="searchRightAxis" placeholder="Axis" ng-model="search.rightAxis">
        </div>
        <div class="form-group form-inline mb">
            <span class="lbl">Left Eye:</span>
            <input type="text" class="form-control" id="searchLeftSphere" placeholder="Sphere"  ng-model="search.leftSphere" ng-change="calculateLeftEquiv(search)">
            <input type="text" class="form-control" id="searchLeftCylinder" placeholder="Cylinder" ng-model="search.leftCylinder" ng-change="calculateLeftEquiv(search)">
            <input type="text" class="form-control" id="searchLeftAxis" placeholder="Axis" ng-model="search.leftAxis">
        </div>
    </section>

    <section>
    <h4>3. Spherical Equivalent</h4>
        <div class="form-group form-inline mb">
            <span class="lbl">Right Eye:</span> <input type="text" class="form-control" id="searchRightEquivalent" placeholder="" ng-model="search.rightEquiv" readonly>
            <span style="margin-left: 35px;">Left Eye:</span> <input type="text" class="form-control" id="searchLeftEquivalent" placeholder="" ng-model="search.leftEquiv" readonly>
        </div>
    </section>

    <section>
        <span class="lblb"></span>
        <button type="submit" class="btn btn-default" ng-click="resetForm()">Reset Search</button>
        <button type="submit" class="btn btn-primary" ng-click="searchGlasses(search)">Find Matches</button>
    </section>
    </form>


    <div id="searchResults" class="active">
        <h3>Available Glasses</h3>
        <p>NOTE: Better matches have more cells highlighted in green in each row/pair. </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th ng-class="{match:(dominantMatch=='Right'||dominantMatch=='None')}" colspan="5">Right Eye (OD)</th>
                    <th ng-class="{match:(dominantMatch=='Left'||dominantMatch=='None')}" colspan="5">Left Eye (OS)</th>
                    <th></th>
                </tr>
                <tr>
                    <th class="bl">Pair #</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th><span class="tt" title="Spherical Equivalent (rounded)">S.E.</span></th>
                    <th>Axis</th>
                    <th>Add</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th><span class="tt" title="Spherical Equivalent (rounded)">S.E.</span></th>
                    <th>Axis</th>
                    <th>Add</th>
                    <th>Available</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{taken:!x.available}" ng-repeat="x in searchResults">
                    <td class="bl">{{ ::x.number }}</td>
                    <td ng-class="::{match:isMatch('rightSphere', x.data.rightSphere)}">{{ ::x.data.rightSphere.toFixed(2) }}</td>
                    <td ng-class="::{match:isMatch('rightCylinder', x.data.rightCylinder)}">{{ ::x.data.rightCylinder.toFixed(2) }}</td>
                    <td ng-class="::{match:isMatch('rightEquiv', x.data.rightEquiv)}">{{ ::x.data.rightEquiv.toFixed(2) }}</td>
                    <td ng-class="::{match:isMatch('rightAxis', x.data.rightAxis)}">{{ ::x.data.rightAxis }}</td>
                    <td>{{ x.data.rightADD.toFixed(2) }}</td>
                    <td ng-class="::{match:isMatch('leftSphere', x.data.leftSphere)}">{{ ::x.data.leftSphere.toFixed(2) }}</td>
                    <td ng-class="::{match:isMatch('leftCylinder', x.data.leftCylinder)}">{{ ::x.data.leftCylinder.toFixed(2) }}</td>
                    <td ng-class="::{match:isMatch('leftEquiv', x.data.leftEquiv)}">{{ ::x.data.leftEquiv.toFixed(2) }}</td>
                    <td ng-class="::{match:isMatch('leftAxis', x.data.leftAxis)}">{{ ::x.data.leftAxis }}</td>
                    <td>{{ x.data.leftADD.toFixed(2) }}</td>
                    <td><button class="" type="submit" class="btn btn-primary" ng-click="takeGlasses(x)">Take</button></td>
                </tr>
                <tr ng-show="searchResults.length==0 || !searchResults" ng-class="{hide:noResults}">
                    <td class="bl" colspan="12">Nothing to display.</td>
                </tr>
                <tr ng-show="noResults">
                    <td class="bl" colspan="12">No results to display.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3><a class="sh" ng-click="togglePrevSearches()">Previous Searches</a></h3>
    <div id="previousSearches" ng-class="{active:showPrevSearches}">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="4">Right Eye (OD)</th>
                    <th colspan="4">Left Eye (OS)</th>
                </tr>
                <tr>
                    <th class="bl">Dominant Eye</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th><span class="tt" title="Spherical Equivalent (rounded)">S.E.</span></th>
                    <th>Axis</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th><span class="tt" title="Spherical Equivalent (rounded)">S.E.</span></th>
                    <th>Axis</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in prevSearches" ng-click="searchGlasses(x)">
                    <td class="bl">{{ ::x.dominantEye }}</td>
                    <td>{{ ::x.rightSphere.toFixed(2) }}</td>
                    <td>{{ ::x.rightCylinder.toFixed(2) }}</td>
                    <td>{{ ::x.rightEquiv.toFixed(2) }}</td>
                    <td>{{ ::x.rightAxis }}</td>
                    <td>{{ ::x.leftSphere.toFixed(2) }}</td>
                    <td>{{ ::x.leftCylinder.toFixed(2) }}</td>
                    <td>{{ ::x.leftEquiv.toFixed(2) }}</td>
                    <td>{{ ::x.leftAxis }}</td>
                </tr>
                <tr ng-show="prevSearches.length==0 || !prevSearches">
                    <td class="bl" colspan="9">No previous searches.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="inventory" class="tab-content" ng-show="tab.isSet(2)" ng-controller="inventoryCtrl">
    <form class="form-inline" novalidate>
        <h3 style="margin-top: 0">Search Inventory</h3>
        <div class="form-group">
            <div class="input-group"> 
                <div class="input-group-addon">Pair #</div>
                <input type="text" class="form-control" id="findPairs" placeholder="" style="text-align: left" ng-model="find.number">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary start">Find</button>
                </span>
            </div>
        </div>
    </form>
    <section>
        <h3><a class="sh" ng-click="toggleTaken()">Taken Pairs <span ng-show="showhideTaken">▼</span></a></h3>
        <div id="inventoryTaken" ng-class="{active:showhideTaken}">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="2"></th>
                    <th colspan="5">Right Eye (OD)</th>
                    <th colspan="5">Left Eye (OS)</th>
                </tr>
                <tr>
                    <th class="bl">Taken</th>
                    <th>Pair #</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th><span class="tt" title="Spherical Equivalent (rounded)">S.E.</span></th>
                    <th>Axis</th>
                    <th>Add</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th><span class="tt" title="Spherical Equivalent (rounded)">S.E.</span></th>
                    <th>Axis</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in model.takenPairs | filter:find" ng-class="{match:x.number==find.number}">
                    <td class="bl"><input type="checkbox" ng-model="checked" ng-init="checked=true" ng-click="putbackPair(x.number)"></td>
                    <td>{{ ::x.number }}</td>
                    <td>{{ ::x.data.rightSphere.toFixed(2) }}</td>
                    <td>{{ ::x.data.rightCylinder.toFixed(2) }}</td>
                    <td>{{ ::x.data.rightEquiv.toFixed(2) }}</td>
                    <td>{{ ::x.data.rightAxis }}</td>
                    <td>{{ ::x.data.rightADD.toFixed(2)  }}</td>
                    <td>{{ ::x.data.leftSphere.toFixed(2) }}</td>
                    <td>{{ ::x.data.leftCylinder.toFixed(2) }}</td>
                    <td>{{ ::x.data.leftEquiv.toFixed(2) }}</td>
                    <td>{{ ::x.data.leftAxis }}</td>
                    <td>{{ ::x.data.leftADD.toFixed(2) }}</td>
                </tr>
                <tr ng-show="model.takenPairs.length==0 || !model.takenPairs">
                    <td class="bl" colspan="13">Nothing to display.</td>
                </tr>
            </tbody>
        </table>
        </div>
    </section>
    <section>
        <h3><a class="sh" ng-click="toggleAvail()">Available Pairs <span ng-show="showhideAvail">▼</span></a></h3>
        <div id="inventoryAvailable" ng-class="{active:showhideAvail}">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="2"></th>
                    <th colspan="5">Right Eye (OD)</th>
                    <th colspan="5">Left Eye (OS)</th>
                </tr>
                <tr>
                    <th class="bl">Taken</th>
                    <th>Pair #</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th><span class="tt" title="Spherical Equivalent (rounded)">S.E.</span></th>
                    <th>Axis</th>
                    <th>Add</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th><span class="tt" title="Spherical Equivalent (rounded)">S.E.</span></th>
                    <th>Axis</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in model.availablePairs | filter:find" ng-class="{match:x.number==find.number}">
                    <td class="bl"><input type="checkbox" ng-click="takePair(x.number)"></td>
                    <td>{{ ::x.number }}</td>
                    <td>{{ ::x.data.rightSphere.toFixed(2) }}</td>
                    <td>{{ ::x.data.rightCylinder.toFixed(2) }}</td>
                    <td>{{ ::x.data.rightEquiv.toFixed(2) }}</td>
                    <td>{{ ::x.data.rightAxis }}</td>
                    <td>{{ ::x.data.rightADD.toFixed(2)  }}</td>
                    <td>{{ ::x.data.leftSphere.toFixed(2) }}</td>
                    <td>{{ ::x.data.leftCylinder.toFixed(2) }}</td>
                    <td>{{ ::x.data.leftEquiv.toFixed(2) }}</td>
                    <td>{{ ::x.data.leftAxis }}</td>
                    <td>{{ ::x.data.leftADD.toFixed(2) }}</td>
                </tr>
                <tr ng-show="model.availablePairs.length==0 || !model.availablePairs">
                    <td class="bl" colspan="13">No pairs available.</td>
                </tr>
            </tbody>
        </table>
        </div>
    </section>
</div>

<div id="import" class="tab-content" ng-show="tab.isSet(3)" ng-controller="importCtrl">
    <h3 style="margin-top: 0">Import Inventory</h3>
    <form id="formUpload" class="form-inline" novalidate>
    <h4>Upload a .csv or .json file</h4>
        <p><b>Instructions:</b> When importing pairs of glasses, ONLY the first row of data should contain header information. <br>
        Remove all empty rows and prefix each pair number with the letter of the set (example: Set C, Pair # 1 becomes "C1"). </p>
        <p>The program accepts 3 different column set-ups for data (in specific order):</p>
        <p><span class="tt" title="Right Sphere, Right Cylinder, Right Axis, Right Add, Left Sphere, Left Cylinder, Left Axis, Left Add, Pair Number">9 columns</span>, 
        <span class="tt" title="Pair/ID number, Right Sphere, Right Cylinder, Right Axis, Right Add, Right Trifocal, Left Sphere, Left Cylinder, Left Axis, Left Add, Left Trifocal">11 columns</span>, 
        <span class="tt" title="Right Sphere, Right Cylinder, Right SE Unrounded, Right SE Rounded, Right Axis, Right Axis Range, Right Add, Left Sphere, Left Cylinder, Left SE Unrounded, Left SE Rounded, Left Axis, Left Axis Range, Left Add, Pair Number, Taken Status">16 columns</span>
        <div class="form-group">
            <input id="fileSelect" file-model="importFile" type="file" accept=".csv, .json" />
        </div>
        <button type="submit" class="btn btn-primary start" ng-click="import()">
            <span>Import</span>
        </button>
    </form>
    <form name="manualAddForm" novalidate>
        <section>
            <h4>Enter manually: </h4>
            <div class="form-group form-inline mb">
                <span class="lbl">Right Eye</span>
                <input type="text" class="form-control" id="addRightSphere" placeholder="Sphere" ng-model="add.rightSphere">
                <input type="text" class="form-control" id="addRightCylinder" placeholder="Cylinder" ng-model="add.rightCylinder">
                <input type="text" class="form-control" id="addRightAxis" placeholder="Axis" ng-model="add.rightAxis">
                <input type="text" class="form-control" id="addRightADD" placeholder="Add" ng-model="add.rightADD">
            </div>
            <div class="form-group form-inline mb">
                <span class="lbl">Left Eye</span>
                <input type="text" class="form-control" id="addLeftSphere" placeholder="Sphere" ng-model="add.leftSphere">
                <input type="text" class="form-control" id="addLeftCylinder" placeholder="Cylinder" ng-model="add.leftCylinder">
                <input type="text" class="form-control" id="addLeftAxis" placeholder="Axis" ng-model="add.leftAxis">
                <input type="text" class="form-control" id="addLeftADD" placeholder="Add" ng-model="add.leftADD">
            </div>
        </section>
        <section>
            <div class="form-group form-inline mb">
                <!-- <span class="lblb"></span> -->
                <button type="submit" class="btn btn-primary start" ng-click="manualAdd(add)">
                    <span>Add</span>
                </button>
            </div>
        </section>
    </form>
    <div>
    <h4>Added Glasses</h4>
        <div id="inventoryAdded">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="6">Right Eye (OD)</th>
                    <th colspan="6">Left Eye (OS)</th>
                </tr>
                <tr>
                    <th class="bl">Pair #</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th><span class="tt" title="Spherical Equivalent (unrounded)">SEu</span></th>
                    <th><span class="tt" title="Spherical Equivalent (rounded)">SEr</span></th>
                    <th>Axis</th>
                    <th>Add</th>
                    <th>Sphere</th>
                    <th>Cylinder</th>
                    <th><span class="tt" title="Spherical Equivalent (unrounded)">SEu</span></th>
                    <th><span class="tt" title="Spherical Equivalent (rounded)">SEr</span></th>
                    <th>Axis</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in addedGlasses" ng-click="">
                    <td class="bl">{{ x.pairNumber }}</td>
                    <td>{{ ::x.data.rightSphere.toFixed(2) }}</td>
                    <td>{{ ::x.data.rightCylinder.toFixed(2) }}</td>
                    <td>{{ ::x.data.rightEquivUnround.toFixed(2) }}</td>
                    <td>{{ ::x.data.rightEquiv.toFixed(2) }}</td>
                    <td>{{ ::x.data.rightAxis }}</td>
                    <td>{{ ::x.data.rightADD.toFixed(2)  }}</td>
                    <td>{{ ::x.data.leftSphere.toFixed(2) }}</td>
                    <td>{{ ::x.data.leftCylinder.toFixed(2) }}</td>
                    <td>{{ ::x.data.leftEquivUnround.toFixed(2) }}</td>
                    <td>{{ ::x.data.leftEquiv.toFixed(2) }}</td>
                    <td>{{ ::x.data.leftAxis }}</td>
                    <td>{{ ::x.data.leftADD.toFixed(2) }}</td>
                </tr>
                <tr ng-show="addedGlasses.length==0 || !addedGlasses">
                    <td class="bl" colspan="15">Nothing to display.</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
<div id="export" class="tab-content" ng-show="tab.isSet(4)" ng-controller="exportCtrl">
    <h3 style="margin-top: 0">Export</h3>
    <p>.CSV files can be opened in spreadsheet programs such as Microsoft Excel and Apple Numbers.<br>.JSON files are used by this program for debugging purposes. Both files can be imported into the program.</p>

    <p>
    Compact datasets contain <span class="tt" title="Right Sphere, Right Cylinder, Right Axis, Right Add, Left Sphere, Left Cylinder, Left Axis, Left Add, Pair Number, Taken Status">10 columns of data</span>.<br>
    <p>
    <p>
    Full CSV datasets contain <span class="tt" title="Right Sphere, Right Cylinder, Right SE Unrounded, Right SE Rounded, Right Axis, Right Axis Range, Right Add, Left Sphere, Left Cylinder, Left SE Unrounded, Left SE Rounded, Left Axis, Left Axis Range, Left Add, Pair Number, Taken Status">16 columns of data</span>.<br>
    </p>
    <h4>Full Inventory</h4>
    <button type="button" class="btn btn-default" ng-click="exportCSV(true, true, true)">Compact .csv</button>
    <button type="button" class="btn btn-default" ng-click="exportCSV(true, true, false)">Full .csv</button>
    <button type="button" class="btn btn-default" ng-click="exportJSON(true, true)">.json</button>

    <h4>Taken Glasses</h4>
    <button type="button" class="btn btn-default" ng-click="exportCSV(true, false, true)">Compact .csv</button>
    <button type="button" class="btn btn-default" ng-click="exportCSV(true, false, false)">Full .csv</button>
    <button type="button" class="btn btn-default" ng-click="exportJSON(true, false)">.json</button>

    <h4>Available Glasses</h4>
    <button type="button" class="btn btn-default" ng-click="exportCSV(false, true, true)">Compact .csv</button>
    <button type="button" class="btn btn-default" ng-click="exportCSV(false, true, false)">Full .csv</button>
    <button type="button" class="btn btn-default" ng-click="exportJSON(false, true)">.json</button>

<!--     <h3>Sync</h3>
    <form class="form-inline">
        <div class="input-group"> 
            <div class="input-group-addon">Database URL</div>
            <input type="text" class="form-control" placeholder="" style="text-align: left" ng-model="remoteDB.url">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary start">Save</button>
            </span>
        </div>
    </form>
    Status: <span class="connection">{{remoteDB.connectionStatus}}</span><br>
    <button type="button" class="btn btn-info" ng-click="syncDB()">Sync</button>
 -->
    <h3>Reset database</h3>
    <p><span class="reset-warning">WARNING:</span> This resets the database and removes <b>ALL</b> pairs of glasses. <br>Be sure to export glasses data above before resetting the database. </p>
    <p><span class="reset-warning">This is the only warning.</span></p>
    <button type="button" class="btn btn-danger" ng-click="destroyDB()">RESET DATABASE</button>
</div>

<!-- <div id="settings" class="tab-content" ng-show="tab.isSet(5)">
    <h3 style="margin-top: 0">Settings</h3>
    <h4>Language Selection</h4>
    <div class="btn-group">
        <label class="btn btn-primary" ng-class="{active: langPick=='en'}" ng-model="langPick" ng-click="changeLanguage('en')" uib-btn-radio="'en'">{{ 'BUTTON_LANG_EN' | translate }}</label>
        <label class="btn btn-primary" ng-class="{active: langPick=='es'}" ng-model="langPick" ng-click="changeLanguage('es')" uib-btn-radio="'es'">{{ 'BUTTON_LANG_ES' | translate }}</label>
    </div>
</div> -->
  <script src="js/lib/papaparse.min.js"></script>
  <script src="js/lib/pouchdb-5.2.1.min.js"></script>
  <script src="js/lib/pouchdb.find.min.js"></script>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/angular-translate.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
